{% extends "email/email_base.html" %}

{% block title %}
    {{ block.super }} | Account Registered
{% endblock title %}

{% block internalCSS %}

{% endblock internalCSS %}

{% block content %}
<h3>Hi {{first_name }}</h3>
<p>You have been registered to Django App.  Below are your account details.</p>

<p>
    <b>Username:</b> <i>{{ email }}</i> </br></br>
</p>

<p> You account is valid until <i>{{ account_expiry }}</i><p>

<p><a href="{{ site_url }}">Sign in to Django App</a></p>

{% endblock content %}
