
DJANGO_SECRET_KEY={{api_secret_key}}
GEOCODE_URL={{geocode_url}}
# SEARCH_URL=http://therapease_search:9200
REDIS_URL=redis://therapease_cache:6379
REDIS_CACHED=redis://therapease_cache:6379
NUXT_PUBLIC_API_URL=https://{{therapease_api_domain_name}}
NUXT_PUBLIC_UI_URL=https://{{therapease_ui_domain_name}}
NUXT_PUBLIC_COPYRIGHT_YEAR={{copyright_year}}
NUXT_PUBLIC_FEEDBACK_URL={{feedback_url}}
GOOGLE_TAG_MANAGER={{google_tag_manager}}
POSTGRES_USER={{postgres.username}}
POSTGRES_PASSWORD={{postgres.password}}
POSTGRES_DB={{postgres.dbname}}
POSTGRES_HOST={{postgres.host}}
POSTGRES_PORT=5432
DEBUG=0
FEATURE_AUTH_ENABLED={{feature_auth_enabled}}
FEATURE_REGISTRATION_ENABLED={{feature_registration_enabled}}
NUXT_PUBLIC_AUTH_ENABLED={{feature_auth_enabled}}
NUXT_PUBLIC_REGISTRATION_ENABLED={{feature_registration_enabled}}
TRUSTED_DOMAINS=https://{{therapease_api_domain_name}}
STORAGE_DOMAIN=https://{{therapease_storage_domain_name}}
MINIO_ROOT_USER={{minio.root}}
MINIO_ROOT_PASSWORD={{minio.password}}
MINIO_ACCESS_KEY={{minio.root}}
MINIO_SECRET_KEY={{minio.password}}
MINIO_ENDPOINT=therapease_storage:9000
MINIO_SECURE=0
MINIO_BUCKET=submissions
MINIO_PUBLIC_ENDPOINT=https://{{therapease_api_storage_domain_name}}
MINIO_DOMAIN=https://{{therapease_api_storage_domain_name}}

SENDGRID_HOST_PASSWORD={{sendgrid_api_key}}
DEFAULT_FROM_EMAIL={{therapease_system_email}}
ADMIN_EMAIL={{therapease_admin_email}}
