
FASTAPI_SECRET_KEY={{api_secret_key}}
GEOCODE_URL=http://therapease_geocoding:8080
SEARCH_URL=http://therapease_search:9200
REDIS_URL=redis://therapease_cache:6379
NUXT_PUBLIC_API_URL=https://{{therapease_api_domain_name}}
NUXT_PUBLIC_UI_URL=https://{{therapease_ui_domain_name}}
NUXT_PUBLIC_FEEDBACK_URL={{feedback_url}}
GOOGLE_TAG_MANAGER={{google_tag_manager}}
POSTGRES_USER={{postgres.username}}
POSTGRES_PASSWORD={{postgres.password}}
POSTGRES_DB={{postgres.dbname}}
POSTGRES_HOST={{postgres.host}}
POSTGRES_PORT=5432